body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default desktop */
.sidebar {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1500;
}

/* Mobile behavior */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}


/* Desktop */
        .dashboard-container {
          margin-left: 200px;
        }

        /* Mobile Screens */
        @media (max-width: 768px) {
          .dashboard-container {
            margin-left: 0 !important;   /* Remove left gap */
            padding-top: 80px;          /* In case sidebar overlays */
          }
        }


         .promo-container {
          margin-left: 200px;
        }

        /* Mobile */
        @media (max-width: 768px) {
          .promo-container {
            margin-left: 0 !important;
            padding-top: 80px;
          }
        }

        

